<!--
Invoice dynamically rendered into html using handlebars and converted into pdf
using chrome-pdf recipe. The styles are extracted into separate asset for
better readability and later reuse.

Data to this sample are mocked at the design time and should be filled on the
incoming API request.
!-->

<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>
    <script src="https://unpkg.com/chartist-plugin-tooltips@0.0.17"></script>
    <script src="https://unpkg.com/chartist-plugin-pointlabels@0.0.6"></script>
      <style>
        .session {
            width: 450px;
            /* adjust this as needed to make the charts smaller */
            height: 400px;
            /* adjust this as needed to make the charts smaller */
            margin: 30px auto;
            /* center the charts horizontally and add some vertical margin */
            page-break-inside: avoid;
            /* prevent a session from overlapping two pages of the PDF */
            padding-top: 5%;
        }

        .ct-label {
            font-size: 12px;
            /* adjust this as needed to change the font size of the labels */
            fill: #000;
            /* adjust this as needed to change the color of the labels */
        }

        .ct-bar {
            stroke-width: 25px;
            /* adjust this as needed to change the width of the bars */
        }
    </style>
</head>


<body>
    
    <div class="ct-chart ct-perfect-fourth" id="session"></div>
    <script>
        console.log('Hola holita')
        // Assign the data to variables
         
        var repetitions = [{{rep}}]
        var myArray = '{{xd}}' 
        var separado = myArray.split(',');
        console.log(separado)

       var data = {
        labels: separado,
        series:[repetitions]
      };
      
      var options = {
        axisX: {
          showLabel: true,
          showGrid: false
        },
        axisY: {
          showLabel: true,
          showGrid: true,
          offset: 60
        },
        plugins: [
          Chartist.plugins.tooltip({
            appendToBody: true,
            transformTooltipTextFnc: function(value) {
              return value;
            }
          }),
          Chartist.plugins.ctPointLabels({
            labelInterpolationFnc: function(value) {
              return value ;
            },
            labelPosition: 'top',
            textAnchor: 'middle', //get it horizontal-wise middle of the bar
            labelOffset:{x:0,y:30} //adding a little offset to get some space
          })
        ]
      };
      
      new Chartist.Bar('#session', data, options);
    </script>

    <div class="invoice-box">
        
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">

                    <table class='table striped' style="margin-left:10px">
                        <thead>
                            <td>ID</td>
                            <td>Title</td>
                            <td>Date</td>
                            <td>Starting Hour</td>
                            <td>Finished Hour</td>
                            <td>Locations</td>
                            <td>Event Types</td>
                        </thead>
                        {{#each events}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{title}}</td>
                            <td>{{date}}</td>
                            <td>{{starting_hour}}</td>
                            <td>{{finished_hour}}</td>
                            <td>{{location_id}}</td>
                            <td>{{event_type_id}}</td>
                        </tr>
                        {{/each}}
                    </table>
                    <table class='table striped' style="margin-left:10px">
                        <thead>
                            <td>ID</td>
                            <td>Name</td>
                        </thead>
                        {{#each eventType}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                        </tr>
                        {{/each}}
                    </table>

                    <table class='table striped' style="margin-left:10px">
                        <thead>
                            <td>ID</td>
                            <td>Name</td>
                        </thead>
                       
                        <tr>
                            <td>{{event.location_id}}</td>
                            <td>{{event.repetition}}</td>
                        </tr>
                       
                    </table>
                </td>
            </tr>

        </table>
    </div>
</body>

</html>